<%- include('partials/header') %>

<div class="main-section" id="home-page">
   
  <main class="main-page">
  
    <section class="home-section">
 
      <div class="short-book-details" id="site-container">
        <h2 id="site-subheading">Book Preview Hub: Explore and Discover Your Next Read!</h2>
        <p id="site-description">Welcome to Book Preview Hub, your go-to destination for discovering new books and exploring their captivating details. Whether you're an avid reader searching for your next literary adventure or a book enthusiast curious about upcoming releases, our website offers a treasure trove of book previews and comprehensive information. Dive into the world of literature, uncover intriguing plot synopses, learn about your favorite authors, and make informed decisions about your reading list. 
           Join us in celebrating the magic of storytelling and embark on countless literary journeys with Book Preview Hub!</p>
        
      </div>
    </section>
    <div class="more"><a href="/books">View Books >>></a></div>
  </main>
 
</div>

<%- include('partials/footer') %>
