<%- include('partials/header') %>

<div class="main-section">
   
  <main class="main-page">
  
    <section class="book-section">
      <div class="book-image-container">
        <img src="http://api.randomuser.me/portraits/thumb/men/58.jpg" alt="" />
      </div>

      <div class="short-book-details">
        <h3>Repurpose Content To Reach A Wider Audience</h3>
        <p>Kamala Harris</p>
        <span> 2 hours ago . <a href="">Read More</a></span>
      </div>
    </section>
    
  </main>
  <div class="more"><a href="/">More >>></a></div>
</div>

<%- include('partials/footer') %>
