<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="/css/styles.css">
    <title>Library</title>
    
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/authors">Authors</a></li>
      </ul>
    </nav>
    <div id="auth">
      <div><a href="/auth/signup">sign up</a></div>
      <div><a href="/auth/signin">sign in</a></div>
    </div>
  </header>

  <section class="title-section">
    <div class="page-title"><h1>Book Preview Hub</h1></div>
    <div  class="title-box"></div>
  </section>